<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>pos-cli gui serve qa instance | platformOS</title>
  </head>

  <body>

    {{ content_for_layout }}

  </body>
</html>
